// Widget
.widget {
    background-color: $light-blue;
    margin-bottom: $xl-size;
}

.widget__message {
    margin: 0;
    padding: $l-size;
    text-align: center;
    border-bottom: 1px solid lighten($light-blue, 10%);
}

// Widget Header
.widget-header {
    background-color: $blue;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}

.widget-header__title {
    margin: 0;
}